@import "../../assets/styles/variables";

.buyersHistoryPage {
  margin-top: 60px;
  padding: 20px;
  .tableHeader {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    input {
      padding: 15px;
    }
  }
  table {
    width: 100%;
    td,
    th {
      text-align: left;
      padding: 10px;
      background-color: #5b5b5b;
      color: $white;
    }
  }
}
